<div class="mt-5">
    <div class="text-center">
        <h1>Modification de : (nameTask)</h1>
    </div>
    <div>
        <div class="mt-4">
            <div class="form-group">
                <label for="titleTask">Tâche :</label>
                <input type="text" class="form-control" id="titleTask" name="title" placeholder="Nom de la tâche" value="nom tâche en cours">
            </div>
            <form class="form-group">
                <label for="descpTask">Description la tâche :</label>
                <textarea class="form-control" id="descpTask" name="description" placeholder="Description"> description tâche en cours</textarea>
            </form>
            <button type="submit" class="btn float-right btn-warning">Enregistrer modifications</button>
        </div>
    </div>
</div> 