<div class="mt-5">
    <div class="text-center">
        <h1>Modification de : (nameFeature)</h1>
    </div>
    <div>
        <div class="mt-4">
            <div class="form-group">
                <label for="titleFeature">Tâche :</label>
                <input type="text" class="form-control" id="titleFeature" name="title" placeholder="Nom de la feature" value="nom feature">
            </div>
            <button type="submit" class="btn float-right btn-warning">Enregistrer modifications</button>
        </div>
    </div>
</div> 