<div class="mt-5">
    <div class="text-center">
        <h1>Ajouter une nouvelle card :</h1>
    </div>
    <div>
        <div class="mt-4">
            <div class="form-group">
                <label for="titleTask">Nom de la tâche :</label>
                <input type="text" class="form-control" id="titleTask" name="title" placeholder="Nom de la tâche">
            </div>
            <form class="form-group">
                <label for="descpTask">Décrivez la tâche :</label>
                <textarea class="form-control" id="descpTask" name="description" placeholder="Description"></textarea>
            </form>
            <button type="submit" class="btn float-right btn-primary">Enregistrer</button>
        </div>
    </div>
</div> 